<section class="landing-header">
  <hr class="left-line"></hr>
  <p class="logo" id="logo">drivss</p>
  <hr class="right-line"></hr>
</section>
<section class="banner">
  <div class="banner-text">
    <p>
      <span class="punchline">
        Enjoy the ride.
      </span>
      <span class="secondary-punchline">
        Rent from locals and go the adventure.
      </span>
    </p>
  </div>
</section>


<h1>Latest posts:</h1>
<ul>
  <% @latest_vehicules.each do |vehicule| %>
  <li>
    Brand: <%= vehicule.brand %>
  </li>
  <li>
    capacity: <%= vehicule.capacity %>
  </li>
  <li>
    Features: <%= vehicule.features %>
  </li>
  <li>
    Price: <%= vehicule.price %> $
  </li>
  <li>
    <%= link_to "Vehicule show", vehicule_path(vehicule.id)  %>
  </li>
  <% end %>
</ul>
