<div class="img-container">
  <%= render 'landing_page/sections/landing-header' %>
  <%= render 'landing_page/sections/banner' %>
  <div class="btns-container">
    <div class="log-in-btn btn-prim">
      <%= link_to "Log in", new_user_session_path %>
    </div>
    <div class="sign-up-btn btn-second">
      <%= link_to "Sign up", new_user_registration_path %>
    </div>
  </div>
</div>

<h1>Latest posts:</h1>
<ul>
  <% @latest_vehicules.each do |vehicule| %>
  <li>
    Brand: <%= vehicule.brand %>
  </li>
  <li>
    capacity: <%= vehicule.capacity %>
  </li>
  <li>
    Features: <%= vehicule.features %>
  </li>
  <li>
    Price: <%= vehicule.price %> $
  </li>
  <li>
    <%= link_to "Vehicule show", vehicule_path(vehicule.id)  %>
  </li>
  <% end %>
</ul>
